
.weekday-selector {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.weekday-item {
  background-color: #659ad2;
  color: white;
  padding: 0.5rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.weekday-item.selecionado {
  background-color: #4d84c2;
}