.container-controle-emocional {
  padding: 1rem;
}

.topo-pagina {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.botao-voltar {
  cursor: pointer;
  font-size: 1.5rem;
}

.data-hoje {
  text-align: center;
  margin: 1rem 0;
}

.bloco-humor-dia {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.caixa-humor {
  background-color: #659ad2;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  flex-grow: 1;
  text-align: center;
}

.icone-humor {
  width: 50px;
  height: 50px;
}

.lista-emocoes {
  margin-top: 1rem;
}

.item-emocao {
  background-color: #659ad2;
  color: white;
  padding: 0.5rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.horario-emocao {
  font-size: 0.8rem;
}

.botao-registrar {
  background-color: #659ad2;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
}
