.card-sintomas {
  background-color: #dce6f1;              
  padding: 0.8rem;                        
  margin-top: 0.5rem;                     
  border-radius: 6px;                     
  display: flex;
  flex-direction: column;
}


.sintoma-item {
  background-color: white;                
  color: #333;                            
  padding: 0.5rem 0.8rem;                 
  margin-bottom: 0.4rem;                  
  border-radius: 4px;                     
  cursor: pointer;                        
  transition: background-color 0.2s ease;
  border: 1px solid #ccc;                 
}


.sintoma-item.marcado {
  background-color: #659ad2;              
  color: white;                           
  border-color: #4d84c2;                
}


.sintoma-item:hover {
  background-color: #e1ebf7;
}