
.card-medicamento {
  background-color: #659ad2;          
  color: white;                       
  padding: 1rem;                      
  margin-bottom: 1rem;                
  border-radius: 8px;                 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  cursor: pointer;                    
  transition: background-color 0.3s ease;
}

.card-medicamento:hover {
  background-color: #4d84c2;          
}

.card-medicamento h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.card-medicamento p {
  font-size: 0.95rem;
  margin: 0.2rem 0;
}