.botao-social {
  width: 100%;
  padding: 0.7rem;
  border-radius: 6px;
  color: white;
  font-size: 0.95rem;
  margin-bottom: 0.8rem;
  cursor: pointer;
  border: none;
}

.botao-social.google {
  background-color: #db4437;
}

.botao-social.apple {
  background-color: #000;
}

.botao-social:hover {
  opacity: 0.9;
}